<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Need Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let needOrder of needOrders; trackBy: trackId">
    <ion-item (click)="view(needOrder)">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>{{needOrder.needName}}</h2>
        </ion-text>
        <p>{{needOrder.quantity}}</p>
        <p>{{needOrder.note}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-item *ngIf="!needOrders?.length">
    <ion-label>
      No Need Orders found.
    </ion-label>
  </ion-item>
</ion-content>
