<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Order: {{need?.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form">
    <ion-list>
      <ion-item [hidden]="!form.value.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="text" name="quantity" formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Note</ion-label>
        <ion-input type="text" name="note" formControlName="note"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-text-center">
      <ion-button [disabled]="!isReadyToSave" color="primary" (click)="save()">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon slot="start" name="checkmark" *ngIf="!platform.is('ios')"></ion-icon> {{'DONE_BUTTON' | translate}}
      </ion-button>
    </div>
  </form>
</ion-content>
