<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Donations
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let donation of donations; trackBy: trackId" [ngClass]="donation.collected ? 'available' : 'not-available'">
    <ion-item (click)="view(donation)">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>{{donation.requestCause}}</h2>
        </ion-text>
        <ion-badge>{{donation.amount}} SDG</ion-badge>
        <p>{{donation.receiptNumber}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-item *ngIf="!donations?.length">
    <ion-label>
      No Donations found.
    </ion-label>
  </ion-item>

</ion-content>
