<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="announcement">
      <ion-icon name="megaphone"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="need">
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="donation-request">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="poll">
      <ion-icon name="checkmark-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feedback">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
