<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Polls
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let poll of polls; trackBy: trackId">
    <ion-item (click)="view(poll)">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>{{poll.question}}</h2>
        </ion-text>
        <p>{{poll.createdBy}}</p>
        <p>{{poll.creationDate | date:'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-item *ngIf="!polls?.length">
    <ion-label>
      No Polls found.
    </ion-label>
  </ion-item>

</ion-content>
