<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" name="title" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Content</ion-label>
        <ion-input type="text" name="content" formControlName="content"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select formControlName="type" id="field_type" required>
          <ion-select-option value="NEGATIVE">{{'Complain' | translate}}</ion-select-option>
          <ion-select-option value="POSITIVE">{{'Suggest' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <div>
          <img [src]="'data:' + feedback.imageContentType + ';base64,' + feedback.image" style="max-height: 100px;"
            *ngIf="feedback?.image" alt="feedback image" />
          <div *ngIf="feedback.image">
            <ion-button color="danger" (click)="clearInputImage('image', 'imageContentType', 'fileImage')">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <input type="file" #fileInput style="display: none;" (change)="setFileData($event, 'image', true)"
            accept="image/*" />
          <ion-button *ngIf="!feedback?.image" (click)="getPicture('image')">
            <ion-icon name="add-circle" slot="start"></ion-icon>
            {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
          </ion-button>
        </div>
      </ion-item>
    </ion-list>

    <div class="ion-text-center">
      <ion-button [disabled]="!isReadyToSave" color="primary" (click)="save()">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon slot="start" name="checkmark" *ngIf="!platform.is('ios')"></ion-icon> {{'DONE_BUTTON' | translate}}
      </ion-button>
    </div>
  </form>
</ion-content>
