<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Need Order
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="text" name="quantity" formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Note</ion-label>
        <ion-input type="text" name="note" formControlName="note"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>User</ion-label>
        <ion-select id="field_user" formControlName="userId" [compareWith]="compareUser" required>
          <ion-select-option *ngIf="!form.value.userId" [value]="null" selected></ion-select-option>
          <ion-select-option [value]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById"
            >{{userOption.login}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div [hidden]="!(form.controls.?.dirty && form.controls.?.invalid)">
        <small [hidden]="!form.controls.?.errors?.required">
          This field is required.
        </small>
      </div>
      <ion-item>
        <ion-label>Need</ion-label>
        <ion-select id="field_need" formControlName="needId" [compareWith]="compareNeed" required>
          <ion-select-option *ngIf="!form.value.needId" [value]="null" selected></ion-select-option>
          <ion-select-option [value]="needOption.id" *ngFor="let needOption of needs; trackBy: trackNeedById"
            >{{needOption.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div [hidden]="!(form.controls.?.dirty && form.controls.?.invalid)">
        <small [hidden]="!form.controls.?.errors?.required">
          This field is required.
        </small>
      </div>
    </ion-list>
  </form>
</ion-content>
